<main class="container">

  <section class="storeContainer row u-full-width">
  <article class="card effect__click" *ngFor="let shirt of shirts; let i = index" (click)="cardFlip(i)" >
			<div class="card__front">
				<img class="flip-container" src="/{{shirt.image}}"  alt="{{shirt.name}} image cant be found, sorry">
				<p>Size: {{shirt.size}}</p>
			</div>
			<div class="card__back">
				 <h3>{{shirt.name}}</h3>
         <p> Size: {{shirt.size}}</p>
				 <h6> $100- </h6>
				 <button (click)="openCheckout(shirt.name)">Purchase</button>
        <button *ngIf="admin" (click)="deleteShirt(shirt._id)">Delete Shirt</button>
			</div>	 
      </article>
  </section>
</main>

