* { margin: 0; padding: 0; }
html{
    background-image: url('./img/shirtPics/bg.jpg');
    background-blend-mode: color-dodge;
    font-family: "Trebuchet MS", Arial, sans-serif;
    position: relative;
    min-height: 100%;
}
body{
     color: black;
}
.PageTitle{
    display: inline-block;
    text-align: left;
    font-size: 38pt;
}
.topnav {
    display: inline-block;
}
.topnav a {
    color: black;
    float: right;
    font-family:
    Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 10px;
}
.topnav a:hover {
    padding: 2px;
    background: black;
    color: white;
}
.TitleContainer {
    color: black;
}
.storeContainer {
    margin-top: 20px;
}
.footerContainer {
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}
.footerContainer article ul {
    list-style-type: none;
    text-align: left;
    margin-left: 35%;
    font-size: 10pt;
    margin-top: 14px;
    display: inline-block;
}
.footerContainer article ul a {
    color: white;
    text-decoration: none;
}
.footerContainer article ul li {
    display: inline-block;
    margin-left: 8px; 
}
.bracketAnimList li a::before,
.bracketAnimList li a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.bracketAnimList li a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.bracketAnimList li a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.bracketAnimList li a:hover::before,
.bracketAnimList li a:hover::after,
.bracketAnimList li a:focus::before,
.bracketAnimList li a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
.shirtContainer {
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    padding: 2px;
}
.shirtContainer h3{
    opacity: .7;
    text-align: center;
}
.shirtContainer p{
    position: relative;
    opacity: .7;
    text-align: center;
}
.shirtContainer button {
    text-align: center;
    margin-left: 38px;
}
.TitleContainer nav ul {
    list-style-type: none;
    text-align: left;
    margin-left: 35%;
    font-size: 10pt;
    margin-top: 14px;
    display: inline-block;
}
.TitleContainer nav ul li a {
    color: black;
    font-size: 13pt;
    text-decoration: none;
}
.TitleContainer nav ul li {
    display: inline-block;
    margin-left: 8px; 
}
