.shirtImage{
        -webkit-transform: scale(1);
 	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.shirtImage:hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}